body {
	font-family: 'Cormorant Garamond', serif;
	margin: 0;
	padding: 0;
	color: #2D4625;
}

h1 {
	color: #6E894A;
	padding: 0;
	margin: 180px 0 0 10px;
	font-size: 72px;
	font-weight: 300;
	font-style: normal;
	position: relative;
	z-index: 2;
}

.underline {
	position: relative;
	z-index: 1;
	top: -26px;
	width: 257px;
	height: 11px;
	background: #EDF1E3;
	margin-left: 10px;
}

.subh1 {
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	margin: -36px 0 0 250px;
}

h2 {
	color: #6E894A;
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	background: rgba(255, 255, 255, 0.7);
}

header h2 {
	margin-left: 10px;
}

header {
	background: url(img/banner.jpg) no-repeat center top / cover;
	background-size: 1520px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	position: static;
}

.name {
	padding: 40px 0 0 140px;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	color: #000000;
	box-sizing: border-box;
	text-shadow: 0 0 10px rgb(255, 255, 255);
	display: inline-block;
}

.subname {
	margin: -20px 0 0 310px;
	box-sizing: border-box;
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	color: #000000;
	text-shadow: 0 0 7px rgb(255, 255, 255);
}

.inf {
	margin: 100px 0 260px 0;
	font-style: italic;
	font-weight: 500;
	font-size: 24px;
}

.txt {
	padding: 0 20px 20px 70px;
	background: rgba(255, 255, 255, 0.7);
	width: 260px;
}

.filial {
	float: left;
	width: 400px;
}

.contacts {
	width: 360px;
	display: grid;
}

.box {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	box-sizing: border-box;
	width: 257px;
	height: 88px;
	padding: 20px 0 0 40px;
	margin-left: 10px;
}

.fbox {
	color: #FFFFFF;
	background: #6E894A;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

text {
	background: #EDF1E3;
}

.sbox {
	color: #6E894A;
	border: 1px solid #6E894A;
	background: rgba(0, 0, 0, 0);
	text-shadow: -2px -2px 0 rgb(255, 255, 255);
}

.caption {
	background: #fff;
	margin: -60px 0 0 210px;
	padding: 30px 40px;
	font-style: italic;
	font-weight: 500;
	font-size: 24px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	max-width: 612px;
	margin-right: 10px;
	min-width: 220px;
}

.cardline {
	height: 30px;
	background: #EDF1E3;
	margin: 0 0 0 210px;
	max-width: 692px;
	margin-right: 10px;
}

.gallery {
	max-width: 612px;
	height: 600px;
	position: relative;
}

.green {
	background: #EDF1E3;

}

.orh {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	color: #6E894A;
}

.suborh {
	font-style: italic;
	font-weight: 500;
	line-height: 15px;
	font-size: 18px;
	width: 112px;
	margin: -10px 0 0 126px;
}

.second {
	margin: 0 10px 0 210px;
}

.take {
	margin: -10px 0 16px 126px;
}

.card {
	position: relative;
	z-index: 2;
}

.gimg {
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 3;
	width: 300px;
}

.info-block {
	background: url(img/background.png) no-repeat center top / cover;
	background-size: 1320px;
	margin-top: -20px;
}

.info-block .container {
	padding-top: 100px;
}

.info-block section:last-child {
	padding-bottom: 100px;
}

.info-block section:first-child {
	padding-top: 20px;
}
